:root {
  --app-white: #f6f4f0;
  --app-black: #302e2b;
  --app-text-black: #43413e;

  --app-light-gray: #ececec;
  --app-dark-gray: #232323;

  --app-dark-green: #779656;
  --app-light-green: #eeeed2;
  --app-gray-green: #6e7d5f;

  --app-dark-brown: #d18b47;
  --app-light-brown: #ffce9e;
  --app-gray-brown: #a6876a;

  --app-gray-light-border: #e0e0e0;
  --app-gray-dark-border: #505050;
}

:root {
  --color-background: var(--app-white);

  --color-light-square: var(--app-light-brown);
  --color-dark-square: var(--app-dark-brown);
  --color-active-square: var(--app-gray-brown);
  --color-text-square: var(--app-text-black);

  --color-text: var(--app-text-black);
  --color-sidebar: var(--app-light-gray);
  --sidebar-border: var(--app-gray-light-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--app-black);

    --color-light-square: var(--app-light-green);
    --color-dark-square: var(--app-dark-green);
    --color-active-square: var(--app-gray-green);
    --color-text-square: var(--app-dark-gray);

    --color-text: var(--app-white);
    --color-sidebar: var(--app-dark-gray);
    --sidebar-border: var(--app-gray-dark-border);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
