:root {
  /* colors */
  --app-white: #f6f4f0;
  --app-black: #302e2b;
  --app-text-black: #43413e;

  --app-light-gray: #ececec;
  --app-dark-gray: #232323;

  --app-dark-green: #779656;
  --app-light-green: #eeeed2;
  --yellow-green: #f7f786;
  --yellow-green-dark: #bbca41;

  --app-dark-brown: #d18b47;
  --app-light-brown: #ffce9e;
  --yellow-brown: #f8ed75;
  --yellow-dark-brown: #dac349;

  --app-gray-light-border: #e0e0e0;
  --app-gray-dark-border: #505050;
  --app-active-border: #33333355;

  /* sizes */
  --app-min-sidebar-width: 200px;
  --app-max-app-width: 1200px;
  --app-padding-sm: 10px;
  --app-padding-lg: 20px;
}

:root,
html.light {
  --color-background: var(--app-white);
  --color-light-square: var(--app-light-brown);
  --color-dark-square: var(--app-dark-brown);
  --color-active-square: var(--yellow-brown);
  --color-dark-active-square: var(--yellow-dark-brown);
  --color-text-square: var(--app-text-black);

  --color-text: var(--app-text-black);
  --color-sidebar: var(--app-light-gray);
  --sidebar-border: var(--app-gray-light-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--app-black);
    --color-light-square: var(--app-light-green);
    --color-dark-square: var(--app-dark-green);
    --color-active-square: var(--yellow-green);
    --color-dark-active-square: var(--yellow-green-dark);
    --color-text-square: var(--app-dark-gray);

    --color-text: var(--app-white);
    --color-sidebar: var(--app-dark-gray);
    --sidebar-border: var(--app-gray-dark-border);
  }
}

html.dark {
  --color-background: var(--app-black);
  --color-light-square: var(--app-light-green);
  --color-dark-square: var(--app-dark-green);
  --color-active-square: var(--yellow-green);
  --color-dark-active-square: var(--yellow-green-dark);
  --color-text-square: var(--app-dark-gray);

  --color-text: var(--app-white);
  --color-sidebar: var(--app-dark-gray);
  --sidebar-border: var(--app-gray-dark-border);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html,
body {
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
