@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 768px) {
  #app {
    display: grid;
    grid-template-columns: minmax(min-content, 100vh) minmax(var(--app-min-sidebar-width), 1fr);
    margin: auto;
    max-width: var(--app-max-app-width);
  }
}
